---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>

    </div>

    {% include scripts.html %}

    <div class="footer_site">
      <hr/>
      <!-- <p align="center">
        <a href='https://clustrmaps.com/site/1bz2l'  title='Visit tracker'><img src='//clustrmaps.com/map_v2.png?cl=1a60c4&w=400&t=tt&d=JBdmYNiBEu-q5ysD1CbeYyiQ9xxFKqKGChcfgtc6RjI&co=ffffff&ct=000e7f'/></a>
      </p> -->

      <p align="center">
        © 2025 · Larry Liu | Last updated: March. 5, 2025.
        <br>
        This homepage is based on <a href="https://github.com/RayeRen/acad-homepage.github.io">acad</a> template. 
      </p>
    </div>
  </body>
</html>
